img, p, h1, h2, .divider{
    width : 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    padding: 15px 0px;
}

p {
    font-size: 18px;
    line-height: 1.4; 
    font-family: "Crimson Text";
}

h1, h2 {
    font-family: "Roboto";
}

.divider {
    height: 2px;
    background-color: linear-gradient(to right, #ffdaf1, #ff36b3 100%);;
    margin-top: 12px;
    margin-bottom: 12px;
}

.prose {
    height: 14px;
    font-family: "Roboto"
}

.special {
    height: 11 px;
    font-family: "Crimson Text"
}

.custom-style {
    width : 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}