img, p, h1, h2, .divider, .divider-yellow, .divider-black, .divider-green, .divider-red{
    width : 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    padding: 15px 0px;
}


p {
    font-size: 18px;
    line-height: 1.4; 
    font-family: "Crimson Text";
}

h1, h2 {
    font-family: "Roboto";
}

.divider {
    height: 2px;
    background: linear-gradient(to right, #deebf7, #3182bd 100%);
    margin-top: 12px;
    margin-bottom: 12px;
}

.prose {
    height: 14px;
    font-family: "Roboto"
}

.special {
    height: 11 px;
    font-family: "Crimson Text"
}

.custom-style {
    width : 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.divider-yellow {
    height: 2px;
    background: linear-gradient(to right, #ffffd4, #FCB131 100%);
    margin-top: 12px;
    margin-bottom: 12px;
}

.divider-black{
    height: 2px;
    background: linear-gradient(to right, #252525, #d9d9d9 100%);
    margin-top: 12px;
    margin-bottom: 12px;
}

.divider-green{
    height: 2px;
    background: linear-gradient(to right, #31a354, #edf8e9 100%);
    margin-top: 12px;
    margin-bottom: 12px;
}

.divider-red{
    height: 2px;
    background: linear-gradient(to right, #fee5d9, #de2d26 100%);
    margin-top: 12px;
    margin-bottom: 12px;
}

